@font-face {
    font-family: "Verdana";
    src: url("/fonts/verdana.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;

}


html {
    background-image: url("images/background 1.png");
    background-repeat:no-repeat;
    background-size:cover;
    height: 100vh;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    justify-items: end;
    background: rgba(0, 0, 0, 0.40);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 58px;

    }

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}
ul.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

li.signup {
    display: flex;
    align-items: center;
    justify-content: center;
}
.journey a {
    color: #FFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    padding-left: 79px;

}

.journey a:hover {
    color: #3CB878;
}

.header-icons {
    Width: 126px;
    Height: 24px;
    display: flex;
    padding-right: 20px;
    align-items: center;

}
.logo-calendar {
    display: block;
    width: 21px;
    height: 24px;
    margin-right: 24px;
}

svg path:hover {
    fill: #3CB878;
}
svg rect:hover {
    fill: #3CB878;
}
svg:hover {
    fill: #3CB878;
    transition: ease-in .3ms ;
}

a.logo-compass:hover .svg:hover {
    fill: #3CB878;
    color: #3CB878;
    transition: ease-in-out .3s;
}
a.logo-envelope:hover .svg:hover {
    fill: #3CB878;
    color: #3CB878;
}
a svg:hover .header-icons:hover {
    fill: #3CB878;
    color: #3CB878;
}
.header-icons:hover .a svg:hover {
    color: #3CB878;
    fill: #3CB878;
    transition: ease-in-out .3s;
}


.logo-envelope {
    display: block;
    width: 23px;
    height: 23px;
    margin-right: 24px;
}
.logo-compass {
    width: 23px;
    height: 24px;
    margin-right: 24px;

}

a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
}

.login {
    padding-right: 10px;
    margin-left: 53px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;

}
.login a {
    font-family: Verdana, sans-serif;
}

.login a:hover {
    color: #3CB878;
}

.signup {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding-right: 79px;

}

.signup a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding-left: 5px;
   }

.signup a:hover {
    color: #3CB878;
}
.buttons {
    display: flex;
    align-content: end;
    justify-content: end;
}
ul:before {
    border-left: 1px solid #FFFFFFE5;
    display: block;
    content: "";
    margin-left: 20px;
    height: 19px;

}

.container {
    max-width: 444px;
    max-height: 100vh;
    margin-top: 55px;
    background-color: white;
    text-align: center;
    padding: 2rem 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

   }


.centre-signup {
    display: flex;
}
.content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;


}
.centre-signup:before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    border: 1px solid;
    margin-right: 43px;
    margin-left: 0;

}
.log-green {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #3CB878;
    margin-right: 60px;
    position: relative;
    bottom: 15px;

}

.log-green:hover {
    text-decoration: underline;
    color: #01813F;
}
.sign {
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    margin-left: 60px;
    color: #434343;

}

.facebook {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    width: 160px;
    height: 48px;
    background-image: url("images/button_fb.svg");
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 60px;
    margin-top: 27px;
    padding: 16px 20px 16px 10px;
    text-align: center;
}

.facebook:hover {
    background-image: url("images/button_fb-hover.svg");
}

.google {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    width: 160px;
    height: 48px;
    background-image: url("images/button_google.svg");
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 27px;
    margin-right: 61px;
    padding: 16px 26px 16px 10px;
}
.google:hover {
    background-image: url("images/button_google-hover.svg");
}

.but-logo {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 324px;
    height: 46px;
    margin-right:60px;
    margin-left: 60px;
    border-radius: 4px;
    margin-bottom: 15px;
    box-shadow: 0 3px 8px 0 #00000036;

}
.terms {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size:  14px;
    line-height: 14px;
    margin-bottom: 20px;
    margin-top: 25px;
    }
.terms a {
    margin-top: 12px;
    font-size: 14px;
    color: #3CB878;
}

.terms a {
    font-family: Verdana, sans-serif;
}

.terms a:hover {
   text-decoration: underline;
    color:#01813F ;
}

.ch-box {
    display: none;
    position: absolute;
    margin-left: 80px;
    border: 1px solid #F2F2F2;
    width: 20px;
    height: 20px;

}

.create {
    background-image: url("images/button_green.png");
    width: 324px;
    height: 46px;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0;
    padding: 16px 99px 16px 99px;
    margin: 20px 60px 38px;
}

.create:hover {
    background-color: #01813F;
}
.or {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    height: 14px;
    margin: 34px 60px 17px 58px;
}

.or::before,
.or::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #F2F2F2;
}

.or:not(:empty)::before {
    margin-right: 2px;
}

.or:not(:empty)::after {
    margin-left: 2px;
}

.form-text  {
    padding: 20px 15px 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    border: 1px #F2F2F2;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    outline: none;
    box-shadow: 0 3px 8px 0 #00000036;

}

label input {
    display: none;
}
label span {
    height: 20px;
    width: 20px;
    border: 1px solid #F2F2F2;
    display: inline-block;
    position: relative;
    background-color:#FFF;
   }

[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    left: 0;
    font-size: 20px;
    color:#3CB878;
    padding-left: 5px;
}